@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Foi pego do DAFONT  */
@font-face {
  font-family: DS-Digital;
  font-style: normal;
  font-weight: normal;
  src: url(./DS-DIGIT.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

div.container {
  background-color: rgb(22, 160, 133);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  transition: 2s;
}

.bgColorpurple {
  transition: 2s;
  background-color: purple !important;
  
}

.bgColorgreen {
  transition: 2s;
  background-color: rgb(22, 160, 133) !important;
}


div.config {
  background-color: rgba(255, 255, 255, .5);
  width: 50vw;
  display: flex;
  align-items: center;
  text-align: end;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}

div.config form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

div.config input {
  width: 50px;
  height: 30px;
  padding: 5px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  font-size: 12pt;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

button[type=submit] {
  border-radius: 10px;
  border: 2px solid black;
  background-color: orange;
  width: 70px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}


div.circle{
  background-color: rgb(255, 166, 0);
  width: 350px;
  height: 350px;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

div.text {
  font-size: 16pt;
}

div.time {
  background-color: gray;
  width: 250px;
  height: 100px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

div.hour, div.minute, div.second {
  width: 70px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: 'DS-Digital', sans-serif, monospace;
  font-size: 50pt;  
}

div.settings {
  margin-top: 10px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

div.settings button {
  width: 75px;
  background-color: rgba(255, 255, 255, .5);
  border: none;
  padding: 5px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 12pt;
  cursor: pointer;
}

.hidden {
  display: none;
}

div.assets {
  background-color: rgba(255, 255, 255, .5);
  width: 80vw;
  height: 40px;
  border-radius: 10px;
}

div.assets ul {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

div.assets ul li {  
  height: 100%;
  padding: 10px 5px;
  font-size: 12pt;
  text-transform: uppercase;
  display: block;
  list-style: none;
  cursor: pointer;
}


@media (max-width: 700px){
  div.config {
    width: 98vw;
  }

  div.circle {
    width: 300px;
    height: 300px;
  }

  div.time {
    height: 70px;
  }

  div.assets {
    width: 98vw;
  }
}